body {
  overflow-x: hidden;
}

.tile {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 25px * @ratio;

  &.cut-left-corner {
    position: relative;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      top: 0;
      border-top: 100px * @ratio solid white;
      border-right: 115px * @ratio solid transparent;
    }
  }

  &-bg {
    padding-bottom: 56.5%;
    background-size: cover;
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    padding-left: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;

    &.content-hc {
      padding: 0;
      align-items: center;
      text-align: center;
    }

    &.content-vt {
      padding-top: 10%;
      justify-content: flex-start;
    }

    &.content-vc {
      padding-top: 0!important;
      justify-content: center;
    }

    h3 {
      margin: 0;
      font-family: Victoire-bold;
      font-size: 73px * @ratio;
      line-height: 65px * @ratio;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    h5 {
      margin: 15px * @ratio 0 0 0;
      font-family: Asap-medium;
      font-size: 26px * @ratio;
      text-transform: uppercase;
      letter-spacing: 4.5px * @ratio;
    }

    .read-more {
      display: inline-block;
      margin: 65px * @ratio 0 0 -2px * @ratio;
      padding: 10px * @ratio 36px * @ratio;
      border: 1px solid white;
      font-family: Asap;
      font-size: 20px * @ratio;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
    }
  }

  &.half-width {
    width: ~"calc(50% - 17px)";

    &.no-gap {
      width: 50%;
    }
  }

  &.half-height & {
    &-bg {
      padding-bottom: ~'calc(28.25%)';
    }
  }

  &.double-height & {
    &-bg {
      padding-bottom: ~'calc(56.5% * 2 + 25px)';
    }
  }

  &.split-in-two & {
    &-content {
      &-left, &-right {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        box-sizing: border-box;
      }

      &-left {
        left: 0;
        padding: 3% 10%;
        background-size: cover;
      }

      &-right {
        right: 0;
        background-size: cover;
      }
    }
  }
}

.slider {
  .tile {
    .tile-content {
      display: block;
      padding-top: 235px * @ratio;
      padding-left: 100px * @ratio;

      .image {

      }

      .category {
        position: relative;
        margin-top: 65px * @ratio;
        margin-bottom: 0;
        font-size: 22px * @ratio;
        color: @green;

        &:before {
          content: '';
          display: inline-block;
          width: 105px * @ratio;
          height: 3px;
          position: absolute;
          top: -30px * @ratio;
          background-color: white;
        }
      }

      .question {
        margin: 24px * @ratio 0 0 -7px * @ratio;
        font-size: 54px * @ratio;
        line-height: 56px * @ratio;
        letter-spacing: .8px;
        font-family: Century-schoolbook;
      }

      .name {
        margin-top: 24px * @ratio;
        margin-left: -4px * @ratio;
        font-size: 32px * @ratio;
        font-family: Century-schoolbook;
      }

      .read-more {
        display: inline-block;
        margin-top: 8px * @ratio;
        padding: 15px * @ratio 21px * @ratio;
        font-size: 18px * @ratio;
        letter-spacing: -.5px;
      }
    }
  }
}

.slider-wrapper {
  position: relative;

  .slider-menu-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    width: 370px * @ratio;
    padding-left: 105px * @ratio;
    box-sizing: border-box;
    align-items: center;
    background-color: @darkBlue;

    .slider-menu {
      position: relative;
      list-style: none;
      font-size: 21px * @ratio;
      letter-spacing: 1.5px * @ratio;
      color: white;

      li {
        padding: 24px * @ratio 0;

        &.active {
          padding: 90px * @ratio 0;
          font-size: 20px * @ratio;
          letter-spacing: 2.5px * @ratio;
          color: @green;

          &:first-child {
            padding-top: 0;

            .list-mark {
              &:before {
                border-image: linear-gradient(to top, @green, @darkBlue) 1 100%!important;
              }
            }
          }

          &:last-child {
            padding-bottom: 0;

            .list-mark {
              &:before {
                border-image: linear-gradient(to bottom, @green, @darkBlue) 1 100%!important;
              }
            }
          }

          .list-mark {
            left: -28px * @ratio;
            width: 13px * @ratio;
            height: 13px * @ratio;
            margin-top: 5px * @ratio;
            background-color: @green;

            &:before, &:after {
              top: -60px * @ratio;
              height: 135px * @ratio;
              left: 38px * @ratio;
              border-left: 2px * @ratio dotted @green;
            }

            &:after {
              content: none;
            }
          }
        }

        &.active + li {
          .list-mark {
            &:before {
              border-image: linear-gradient(to top, white, @green) 1 100%;
            }
          }
        }

        &.before-active {
          .list-mark {
            &:after {
              border-image: linear-gradient(to bottom, white, @green) 1 100%;
            }
          }
        }

        &:first-child {
          .list-mark {
            &:before {
              border-image: linear-gradient(to top, white, @darkBlue) 1 100%;
            }
          }
        }

        &:last-child {
          .list-mark {
            &:after {
              border-image: linear-gradient(to bottom, white, @darkBlue) 1 100%;
            }
          }
        }

        .list-mark {
          position: absolute;
          left: -2px * @ratio;
          width: 27px * @ratio;
          height: 27px * @ratio;
          background-color: white;
          border-radius: 50%;

          &:before, &:after {
            content: '';
            display: inline-block;
            height: 24px * @ratio;
            position: absolute;
            left: 12px * @ratio;
            border-left: 2px * @ratio solid white;
          }

          &:before {
            top: -52px * @ratio;
            height: 52px * @ratio;
          }

          &:after {
            top: 27px * @ratio;
            height: 52px * @ratio;
          }
        }
      }
    }
  }
}

.main-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 35px * @ratio;
  box-sizing: border-box;
  overflow: hidden;

  .header {
    margin-bottom: 13%;
    float: none;

    &.cut-left-corner {
      &:after {
        border-top: 300px * @ratio solid white;
        border-right: 330px * @ratio solid transparent;
      }
    }

    &-logo {
      position: absolute;
      top: 30px * @ratio;
      left: 25px * @ratio;
      width: 150px * @ratio;
      z-index: 1;
    }

    &-text {
      position: absolute;
      right: 0;
      margin: -5px 0 0 0;
      padding: 35px * @ratio 235px * @ratio 35px * @ratio 0;
      border-bottom: 3px * @ratio solid white;
      font-family: Victoire-bold;
      font-size: 75px * @ratio;
      letter-spacing: 2px;
    }
  }

  .side-menu {
    position: fixed;
    top: 0;
    left: -420px * @ratio;
    display: flex;
    width: 370px * @ratio;
    padding: 140px * @ratio 0 140px * @ratio 105px * @ratio;
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    z-index: 999;

    &.loaded {
      left: -370px * @ratio;

      transition-property: left, top;
      transition-duration: .6s, .6s;
    }

    &.open {
      left: -35px * @ratio;

      .side-menu-trigger {
        background-image: ~"url(../images/icons/side-menu-arrow-left.png)";
      }
    }

    &-trigger {
      width: 50px * @ratio;
      height: 120px * @ratio;
      position: absolute;
      top: 0;
      right: -50px * @ratio;
      background-image: ~"url(../images/icons/side-menu-arrow-right.png)";
      background-size: cover;
      cursor: pointer;
    }

    &-links {
      position: relative;
      list-style: none;
      font-size: 21px * @ratio;
      letter-spacing: 1.5px * @ratio;
      color: white;

      li {
        padding: 24px * @ratio 0;

        &.active {
          padding: 90px * @ratio 0;
          font-size: 20px * @ratio;
          letter-spacing: 2.5px * @ratio;
          color: @green;

          &:first-child {
            padding-top: 0;

            .list-mark {
              &:before {
                border-image: linear-gradient(to top, @green, @darkBlue) 1 100%!important;
              }
            }
          }

          &:last-child {
            padding-bottom: 0;

            .list-mark {
              &:before {
                border-image: linear-gradient(to bottom, @green, @darkBlue) 1 100%!important;
              }
            }
          }

          .list-mark {
            left: -28px * @ratio;
            width: 13px * @ratio;
            height: 13px * @ratio;
            margin-top: 5px * @ratio;
            background-color: @green;

            &:before, &:after {
              top: -60px * @ratio;
              height: 135px * @ratio;
              left: 38px * @ratio;
              border-left: 2px * @ratio dotted @green;
            }

            &:after {
              content: none;
            }
          }
        }

        &.active + li {
          .list-mark {
            &:before {
              border-image: linear-gradient(to top, @darkBlue, @green) 1 100%;
            }
          }
        }

        &.before-active {
          .list-mark {
            &:after {
              border-image: linear-gradient(to bottom, @darkBlue, @green) 1 100%;
            }
          }
        }

        &:first-child {
          .list-mark {
            &:before {
              border-image: linear-gradient(to top, @darkBlue, white) 1 100%;
            }
          }
        }

        &:last-child {
          .list-mark {
            &:after {
              border-image: linear-gradient(to bottom, @darkBlue, white) 1 100%;
            }
          }
        }

        .link {
          color: @darkBlue;
          text-decoration: none;
        }

        .list-mark {
          position: absolute;
          left: -2px * @ratio;
          width: 27px * @ratio;
          height: 27px * @ratio;
          background-color: @darkBlue;
          border-radius: 50%;

          &:before, &:after {
            content: '';
            display: inline-block;
            height: 24px * @ratio;
            position: absolute;
            left: 12px * @ratio;
            border-left: 2px * @ratio solid @darkBlue;
          }

          &:before {
            top: -52px * @ratio;
            height: 52px * @ratio;
          }

          &:after {
            top: 27px * @ratio;
            height: 52px * @ratio;
          }
        }
      }
    }
  }

  .content {
    position: relative;

    .breadcrumbs {
      top: -100px * @ratio;
      position: relative;
      margin-left: 28px * @ratio;
      letter-spacing: 1px;
      font-family: Asap-medium;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: @darkBlue;
      }

      .current {
        font-style: italic;
        color: @green;
      }
    }

    .lead-text {
      margin-bottom: 133px * @ratio;
      padding: 3px * @ratio 100px * @ratio;
      font-size: 25px * @ratio;
      letter-spacing: .5px;
    }

    .categories {
      .tile {

      }
    }

    .news-header {
      margin-top: 6%;
      font-size: 78px * @ratio;
      font-family: Victoire-bold;
      text-align: center;

      &-content {
        position: relative;

        &:before, &:after {
          content: '';
          display: inline-block;
          width: 200px;
          border-bottom: 3px solid black;
          position: absolute;
          top: 60px;
        }

        &:before {
          left: -232px;
        }

        &:after {
          right: -225px;
        }
      }

      &-green {
        color: @green;
      }
    }

    .news {
      margin: 0 115px * @ratio;

      .news-col {
        float: left;
        width: ~"calc(33.33% - 20px * @{ratio})";
        margin-right: 30px * @ratio;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      .news-item {
        margin-bottom: 105px * @ratio;

        &-image {
          width: 100%;
        }

        &-content {
          margin-top: -5px;
          padding: 17px 4% 20px 14%;
          background-color: #efefef;

          &-header {
            font-size: 18px * @ratio;
            letter-spacing: 1px;
            font-family: Victoire-bold;
          }

          &-text {
            font-size: 20px * @ratio;
            font-family: Asap-medium;
          }

          &-tags {
            font-size: 20px * @ratio;
            font-family: Asap-medium;
          }
        }
      }
    }

    .politics {
      margin-top: 5% * @ratio;

      .tile {
        &-content {
          &-left {
            .meet {
              margin-bottom: 0;
              font-size: 26px * @ratio;
              font-family: Asap-medium;
              letter-spacing: 4px * @ratio;
            }

            .meet-who {
              margin-top: 10px * @ratio;
              font-size: 45px * @ratio;
              font-family: Victoire-bold;
              letter-spacing: 2px * @ratio;
            }

            .links {
              margin-top: 28px * @ratio;
              list-style: none;

              li {
                margin-bottom: 30px * @ratio;
                font-size: 18px * @ratio;
                font-family: Asap;
                letter-spacing: .5px * @ratio;

                a {
                  color: white;
                  text-decoration: none;
                }

                &:first-child {
                  position: relative;
                  display: inline-block;
                  margin-top: 33px * @ratio;
                  margin-left: -20px * @ratio;
                  margin-bottom: 18px * @ratio;
                  padding: 10px * @ratio 40px * @ratio 10px * @ratio 25px * @ratio;
                  font-size: 18px * @ratio;
                  border: 1px solid #ca4f24;
                  color: #ca4f24;

                  &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: -35px * @ratio;
                    left: -30px * @ratio;
                    width: 4px * @ratio;
                    height: 115px * @ratio;
                    background-color: white;
                  }
                }
              }
            }
          }

        }
      }
    }

    .business {
      .tile {
        &-content {
          &-left {
            .header {
              margin-bottom: 10px * @ratio;
              font-size: 30px * @ratio;
              color: @darkBlue;
            }

            .subheader {
              position: relative;
              margin: 0 0 60px * @ratio 0;
              font-size: 20px * @ratio;
              color: @darkBlue;

              &:after {
                content: '';
                display: inline-block;
                width: 55px * @ratio;
                height: 2px;
                background-color: @darkBlue;
                position: absolute;
                left: 0;
                bottom: -32px * @ratio;
              }
            }

            .text {
              font-size: 16px * @ratio;
              line-height: 20px * @ratio;
            }
          }
        }
      }
    }

    .text-block {
      display: flex;

      background-color: @lightGrey;
      color: @darkBlue;

      &-content {
        position: relative;
        padding: 120px * @ratio 70px * @ratio 120px * @ratio 140px * @ratio;

        p {
          margin-bottom: 20px * @ratio;
          font-size: 20px * @ratio;
          line-height: 32px * @ratio;
        }

        h4 {
          position: relative;
          font-size: 18px;
          letter-spacing: 1px * @ratio;
          font-family: Asap-medium;
          text-transform: uppercase;
        }
      }
    }

    .text-blocks {
      .text-block;

      &-content {
        width: 50%;
        padding: 120px * @ratio 140px * @ratio;

        &:first-child {
          &:after {
            content: '';
            display: inline-block;
            height: 60%;
            width: 2px;
            position: absolute;
            top: 20%;
            right: 0;

            background-color: @darkBlue;
          }
        }
      }
    }

    .pagination-wrapper {
      margin: 76px * @ratio 0;
      text-align: center;

      .pagination-links {
        display: inline-block;
        position: relative;

        &:before, &:after {
          content: '';
          display: block;
          height: 3px * @ratio;
          background-color: black;

          position: absolute;
          left: 0;
          right: 0;
        }

        &:before {
          top: -20px;
        }

        &:after {
          bottom: -20px;
        }

        .page-link {
          margin: 0 10px * @ratio;
          font-family: Asap-bold;
          font-size: 23px * @ratio;
          color: black;
          text-decoration: none;

          &.current {
            color: @orange;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 15px * @ratio;

    &-socials {
      display: flex;
      padding: 90px * @ratio 0;
      align-items: center;
      justify-content: center;
      font-family: Asap-medium;
      font-size: 18px;
      text-align: center;
      color: @darkBlue;
      background-color: @lightGrey;

      &-follow-us {
        margin-right: 30px * @ratio;
      }

      &-like, &-tv {
        display: inline-block;
        width: 45px * @ratio;
        height: 45px * @ratio;
        margin-right: 30px * @ratio;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 35px * @ratio;
        border: 1px solid @darkBlue;
      }

      &-like {
        background-image: ~"url(../images/icons/like.svg)";
      }

      &-tv {
        background-image: ~"url(../images/icons/tv.svg)";
      }
    }

    &-menu {
      display: flex;
      margin-top: 50px * @ratio;
      align-items: center;
      justify-content: center;

      &-logo {
        width: 220px * @ratio;
      }

      &-links {
        list-style: none;
        padding-top: 10px * @ratio;
        padding-left: 45px * @ratio;

        li {
          margin-bottom: 15px * @ratio;
          font-size: 12px * @ratio;
          font-family: Asap-medium;
          letter-spacing: .5px * @ratio;

          a {
            color: @darkBlue;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.slick-slider {
  &.with-menu {
    .slick-arrow {

      &:before {

      }

      &.slick-next {
        right: 370px * @ratio;

        border-top: 37.5px * @ratio solid transparent;
        border-right: 37.5px * @ratio solid white;
        border-bottom: 37.5px * @ratio solid transparent;

        &:after {
          content: '';
          position: absolute;
          right: -74px * @ratio;
          top: -37.5px * @ratio;
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 37.5px * @ratio solid transparent;
          border-left: 37.5px * @ratio solid white;
          border-bottom: 37.5px * @ratio solid transparent;
          border-right: none;
          z-index: -1;
        }
      }
    }
  }

  .slick-slide {
    margin: 0;
  }

  .slick-arrow {
    top: ~"calc(50% - 30.5px)";
    width: 0;
    height: 0;
    border-top: 37.5px * @ratio solid transparent;
    border-right: 37.5px * @ratio solid white;
    border-bottom: 37.5px * @ratio solid transparent;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: -17.5px * @ratio;
      width: 35px * @ratio;
      height: 35px * @ratio;

      background-image: ~"url(../images/icons/arrow-right.svg)";
      background-repeat: no-repeat;
    }

    &.slick-next {
      right: 0;

      &:before {
        content: '';
        right: -56px * @ratio;
      }
    }

    &.slick-prev {
      left: 0;
      border-right: none;
      border-left: 37.5px * @ratio solid white;

      &:before {
        left: -56px * @ratio;
        transform: scaleX(-1);
      }
    }
  }

  .slick-dots {
    bottom: 75px * @ratio;

    li {
      margin: 0 10px * @ratio;
      vertical-align: baseline;

      button {
        &:before {
          width: 20px * @ratio;
          height: 20px * @ratio;
          font-size: 22px * @ratio;
          color: white;
          opacity: 1;
        }
      }

      &.slick-active {
        button {
          position: relative;
          top: -1.5px * @ratio;
          width: 20px * @ratio;
          height: 20px * @ratio;
          padding: 0;
          border: 3px * @ratio solid @green;
          border-radius: 50%;

          &:before {
            width: 15px * @ratio;
            height: 15px * @ratio;

            color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }
}