body.politics-page {
  .main-wrapper {

    .header {
      .tile-content {
        justify-content: flex-start;
        align-items: flex-end;
        padding: 80px * @ratio 450px * @ratio;

        .category {
          position: relative;
          margin-top: 65px * @ratio;
          margin-bottom: 0;
          font-size: 22px * @ratio;
          color: @orange;

          &:before {
            content: '';
            display: inline-block;
            width: 105px * @ratio;
            height: 3px;
            position: absolute;
            top: -30px * @ratio;
            background-color: @darkBlue;
          }
        }

        .title {
          margin: 24px * @ratio 0 0 -7px * @ratio;
          font-size: 54px * @ratio;
          line-height: 56px * @ratio;
          letter-spacing: .8px;
          font-family: Century-schoolbook;
          color: @darkBlue;
        }
      }
    }

    .side-menu {
      width: 175px * @ratio;
      padding: 5px * @ratio 0 55px * @ratio 52.5px * @ratio;
      left: 0;
      background-color: white;

      &:after {
        width: 175px * @ratio;
        content: '';
        position: absolute;
        right: 0;
        top: -60px * @ratio;
        border-bottom: 60px * @ratio solid white;
        border-right: 50px * @ratio solid transparent;
        background-color: transparent;
      }

      &-trigger {
        display: none;
      }

      &-links {
        padding-left: 0;

        li {
          padding: 20px * @ratio 0;

          &.active {
            margin-left: -15px * @ratio;
            padding: 20px * @ratio 0;

            img {
              width: 100px * @ratio;
            }
          }

          img {
            width: 70px * @ratio;
          }
        }
      }
    }

    .content {
      .breadcrumbs {
        .current {
          color: @orange;
        }
      }

      .tile {
        &-content {
          &-category {
            position: relative;
            display: inline-block;
            margin-top: 0;
            margin-bottom: 35px * @ratio;
            font-size: 22px * @ratio;
            color: @green;
            text-transform: uppercase;

            &:before {
              content: '';
              display: inline-block;
              width: 78px * @ratio;
              height: 4px;
              position: absolute;
              bottom: -22px * @ratio;
              background-color: white;
            }
          }

          &-note {
            margin-bottom: 0;
            font-size: 22px * @ratio;
            text-transform: uppercase;
          }

          &.content-hc {
            .tile-content-category {
              &:before {
                left: ~"calc(50% - (78px / 2 * @{ratio}))";
              }
            }
          }
        }
      }

      .text-blocks {
        display: flex;

        background-color: @lightGrey;
        color: @darkBlue;

        &-content {
          position: relative;
          padding: 120px * @ratio 140px * @ratio;

          &:first-child {
            &:after {
              content: '';
              display: inline-block;
              height: 60%;
              width: 2px;
              position: absolute;
              top: 20%;
              right: 0;

              background-color: @darkBlue;
            }
          }

          p {
            margin-bottom: 20px * @ratio;
            font-size: 20px * @ratio;
            line-height: 32px * @ratio;
          }

          h4 {
            position: relative;
            font-size: 18px;
            letter-spacing: 1px * @ratio;
            font-family: Asap-medium;
            color: @green;
            text-transform: uppercase;

            &:after {
              content: '';
              display: block;
              width: 55px * @ratio;
              height: 2px * @ratio;
              margin-top: 20px * @ratio;

              background-color: @darkBlue;
            }
          }
        }
      }
    }
  }
}