body.gouvernance-page {
  .main-wrapper {
    .header {
      .tile-content {
        align-items: center;
        justify-content: center;

        padding-left: 400px * @ratio;
        padding-bottom: 300px * @ratio;

        .category {
          position: relative;
          margin-top: 65px * @ratio;
          margin-bottom: 0;
          font-size: 22px * @ratio;
          color: @blue;

          &:before {
            content: '';
            display: inline-block;
            width: 105px * @ratio;
            height: 3px;
            position: absolute;
            top: -30px * @ratio;
            background-color: @darkBlue;
          }
        }

        .title {
          margin: 24px * @ratio 0 0 -7px * @ratio;
          font-size: 54px * @ratio;
          line-height: 56px * @ratio;
          letter-spacing: .8px;
          font-family: Century-schoolbook;
          color: @darkBlue;
        }
      }
    }

    .breadcrumbs {
      .current {
        color: @blue;
      }
    }

    .content {
      .president {
        .tile-content-left {
          display: flex;
          flex-direction: column;
          padding-left: 7%;
          justify-content: center;

          .tile-content-category {
            position: relative;
            display: inline-block;
            margin-top: 0;
            margin-bottom: 50px * @ratio;
            font-size: 22px * @ratio;
            color: @orange;
            text-transform: uppercase;

            &:before {
              content: '';
              display: inline-block;
              width: 78px * @ratio;
              height: 2px;
              position: absolute;
              bottom: -22px * @ratio;
              background-color: white;
            }
          }

          .read-more {
            align-self: flex-start;
          }
        }
      }

      .persons {
        .clearfix;

        .tile {
          &:not(:last-child) {
            margin-bottom: 0;
          }

          .tile-bg {
            padding-bottom: 50%;
          }
        }

        .person {
          &:hover {
            .person-overlay {
              opacity: 1;
            }
          }
        }

        .person-overlay {
          display: flex;
          padding-left: 60px * @ratio;
          padding-bottom: 60px * @ratio;
          flex-direction: column;
          justify-content: flex-end;

          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-image: ~"url(../images/gouvernance-bureau/overlay-bg.png)";
          background-size: cover;

          opacity: 0;

          transition-property: opacity;
          transition-duration: .4s;

          .person-name {
            position: relative;
            font-size: 40px * @ratio;
            letter-spacing: 1px;
            font-family: Victoire-bold;

            &:after {
              content: '';
              display: inline-block;
              width: 105px * @ratio;
              height: 2px;
              position: absolute;
              left: 0;
              bottom: -5px * @ratio;
              background-color: @darkBlue;
            }
          }

          .person-position {
            font-size: 18px * @ratio;
            font-family: Asap-medium;
          }

          .read-more {
            align-self: flex-start;
          }
        }
      }

      .search-form {
        margin-top: -40px * @ratio;

        margin-bottom: 140px * @ratio;
        padding-right: 80px * @ratio;
        position: relative;
        text-align: right;

        .first-name, .last-name {
          width: 380px * @ratio;
          height: 62px * @ratio;
          padding-left: 38px * @ratio;
          font-size: 18px * @ratio;
          border: 3px * @ratio solid black;
        }

        .last-name {
          margin-left: -4px * @ratio;
          border-left: none;
        }

        .search-btn {
          width: 36px * @ratio;
          height: 39px * @ratio;
          position: absolute;
          right: 100px * @ratio;
          top: 15px * @ratio;
        }
      }
    }
  }
}