body.territory-page {
  .main-wrapper {
    .header {
      .slider {
        .tile {
          .tile-content {
            display: block;
            padding-top: 235px * @ratio;
            padding-left: 100px * @ratio;

            .image {

            }

            .category {
              position: relative;
              margin-top: 65px * @ratio;
              margin-bottom: 0;
              font-size: 22px * @ratio;
              color: @green;

              &:before {
                content: '';
                display: inline-block;
                width: 105px * @ratio;
                height: 3px;
                position: absolute;
                top: -30px * @ratio;
                background-color: white;
              }
            }

            .question {
              margin: 24px * @ratio 0 0 -7px * @ratio;
              font-size: 54px * @ratio;
              line-height: 56px * @ratio;
              letter-spacing: .8px;
              font-family: Century-schoolbook;
            }

            .name {
              margin-top: 24px * @ratio;
              margin-left: -4px * @ratio;
              font-size: 32px * @ratio;
              font-family: Century-schoolbook;
            }

            .read-more {
              display: inline-block;
              margin-top: 8px * @ratio;
              padding: 15px * @ratio 21px * @ratio;
              font-size: 18px * @ratio;
              letter-spacing: -.5px;
            }
          }
        }
      }
    }

    .content {
      .tile {
        &.carts {
          .tile-content {
            display: block;
            padding-top: 193px * @ratio;
          }
        }

        .tile-content {
          padding-left: 95px * @ratio;

          &-category {
            position: relative;
            margin-top: 0;
            margin-bottom: 35px * @ratio;
            font-size: 22px * @ratio;
            color: @orange;

            &:before {
              content: '';
              display: inline-block;
              width: 78px * @ratio;
              height: 4px;
              position: absolute;
              bottom: -22px * @ratio;
              background-color: white;
            }
          }

          &-header {
            line-height: 85px * @ratio;
          }

          .read-more {
            margin: 58px * @ratio 0 0 0;
            padding: 10px * @ratio 43px * @ratio;
          }
        }
      }

      .block-header {
        padding: 20px * @ratio 0 40px * @ratio 92px * @ratio;
        position: relative;
        font-family: Victoire-bold;
        font-size: 70px * @ratio;
        color: @green;

        &.first-letter-underline {
          &:after {
            content: '';
            display: inline-block;
            width: 105px * @ratio;
            height: 4px * @ratio;
            position: absolute;
            left: 65px * @ratio;
            bottom: -2px * @ratio;
            background-color: @green;
          }
        }
      }

      .documents {
        display: flex;
        margin-bottom: 40px * @ratio;
        justify-content: space-between;
        background-color: @lightGrey;

        .document {
          display: flex;
          padding: 138px * @ratio 80px * @ratio 0;
          position: relative;
          justify-content: space-between;
          align-items: flex-start;

          &-image {
            margin: 0;
            border-radius: 10px * @ratio;
          }

          &-download {
            margin: 136px * @ratio 42px * @ratio;
            position: relative;

            &:after {
              content: '';
              display: inline-block;
              height: 4px * @ratio;
              width: 84px * @ratio;
              position: absolute;
              left: 0;
              bottom: -50px * @ratio;
              background: red;
            }
          }

          &-text {
            margin: -7px * @ratio 0 0 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 15px * @ratio;
            line-height: 31px * @ratio;
          }
        }
      }
    }
  }
}